body{
    background: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
 color: blue;
}

p{
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.6;
}

.skill{
    color: blueviolet;
}
